/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 601px) {



}


@media only screen and (max-width : 991px) {
  .buttonBlock {
    padding-top: 5%;
    padding-bottom: 20%;
    text-align: center;
    float: none;
  }
  .descText {
    height: 450px;
    margin-right: 30px;
    color: #fff;
    font-size: 20px;
    text-align:justify;
    text-indent: 20px;
    display: table-cell;
    vertical-align: middle;
  }

  .quality > p {
    padding: 0px 0px;
    margin-bottom: 0px;
    color: #33333;
    font-size: 20px;
    text-align: justify;
  }

  .prices > p {
    padding: 0px 0px;
    margin-bottom: 50px;
    color: #33333;
    font-size: 20px;
    text-align: justify;
  }

  .quality h1, .prices h1 {
    text-align: center;
  }
  .icon1 img, {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
  }
  .icon2 img {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
  }

  .mainMenu {
    display: none;
  }
  .container-fluid-mobile {
    visibility: visible;
    height: auto;
    background: linear-gradient(to top, #DBDBDB, #fbfbfb);
  }

  /*conatacts*/
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts  div {
    width: 200px;
    height: 130px;
  }
  .bl2 {
    margin-top: -120px;
    margin-bottom: -35px;
  }


}

@media only screen and (max-width : 476px) {

.contacts :first-child {
  margin-top: 20px;
}

.bl2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
}

@media only screen and (min-width : 992px) {
  .container-fluid-mobile {
    visibility: hidden;
    display: none;
  }
}
