* {
    margin: 0;
    padding: 0;
    font-family: OpenSansRegular, sans-serif;
    outline: none !important;
}

:invalid {
    box-shadow: none;
}

a {
    color: #f5f5f5;
}

html, body {
    overflow-x: hidden;
}

.col-sm-5, .col-sm-7 {
    margin: 0px;
    padding: 0px;
}

.page {}


/*to top*/

#scroller {
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
    background-color: #1b93d0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    border-radius: 3px;
    text-align: center;
}

#scroller:hover {
    background-color: #1679ac;
}

#scroller i {
    font-size: 45px;
    color: #fff;
}


/*Header*/

.col-sm-12 {
    padding: 0;
}

.workTime {
    min-height: 40px;
    background-color: #181a1d;
    text-align: center;
    font-size: 12px;
}

.workTime a {
    border-bottom: 1px dotted #d6d6d6;
    padding-bottom: 1px;
}

.workTime a:hover {
    color: #afafaf;
}

.workTime ul {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d6d6d6;
    list-style-type: none;
}

.workTime li {
    display: inline;
    margin-right: 12px;
}

.header {
    height: 120px;
    background-color: #2b2e33;
}


/*Logo*/

.logoWrapper {
    display: flex;
}

.logo {
    margin: auto 0;
    float: left;
    margin-top: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logoText {
    position: absolute;
    margin-left: 10px;
    top: 23px;
    color: #fff;
    font-family: logo_font, sans-serif;
    font-size: 50px;
    width: 50px;
}


/*Main Menu*/

.mainMenu {
    z-index: 1000;
    font-size: 15px;
    float: right;
    margin-top: 48px;
}

.mainMenu a {
    margin-right: 30px;
    padding-bottom: 10px;
}

.mainMenu :hover {
    border-bottom: 2px solid #1b93d0;
}

.mainMenu :last-child {
    margin-right: 0px;
}

.dark {
  position: fixed;
  visibility: hidden;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}


/*mobile menu*/

.col-xs-12-mobile {
    height: 57px;
    width: 100%;
    background: linear-gradient(to top, #DBDBDB, #fbfbfb);
}

#menuShow {
    text-align: center;
    color: #1b93d0;
    font-size: 40px;
    cursor: pointer;
}

#menuShow :hover {
    color: #1679ac;
}

#mobileMenu {
    position: relative;
    z-index: 1000;
    text-align: center;
    height: auto;
}

#mobileMenu a {
    background-color: #181a1d;
    display: block;
    clear: both;
    padding: 5px 0;
    color: #ececec;
    font-size: 25px;
    -webkit-transition: background 150ms linear;
    -moz-transition: background 150ms linear;
    -o-transition: background 150ms linear;
    -ms-transition: background 150ms linear;
    transition: background 150ms linear;
}

#mobileMenu a:hover {
    background-color: #2b2e33;
}

.fixed {
    position: fixed;
    top: 0;
}


/*description*/

.container-fluid-desc {
    min-height: 750px;
}

.descText {
    height: 750px;
    margin-right: 30px;
    color: #fff;
    font-size: 20px;
    text-align: justify;
    text-indent: 20px;
    display: table-cell;
    vertical-align: middle;
}

.buttonBlock {
    padding-top: 50%;
    text-align: center;
    float: right;
}


/*button begin*/

.buttonBlock p {
    color: #fff;
    font-size: 28px;
}

.button {
    display: inline-block;
    margin-top: 5%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 8px 0 #274792, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #274792, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #274792, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 20px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 25px 50px 20px 50px;
    background-color: #305fbd;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(201, 78%, 48%, .8)), to(hsla(220, 59%, 46%, .2)));
    background-image: -webkit-linear-gradient(hsla(201, 78%, 48%, .8), hsla(220, 59%, 46%, .2));
    background-image: -moz-linear-gradient(hsla(201, 78%, 48%, .8), hsla(220, 59%, 46%, .2));
    background-image: -o-linear-gradient(hsla(201, 78%, 48%, .8), hsla(220, 59%, 46%, .2));
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(240, 243, 248, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #4171d3;
    text-shadow: 0 -1px 1px rgba(240, 243, 248, .7);
    0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow: 0 8px 0 #274792, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #274792, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 8px 0 #274792, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}


/*battonEnd*/


/*grad blocks*/

.grad {
    background: linear-gradient(to top, #DBDBDB, #fbfbfb);
}

.quality p, .prices p {
    padding: 0px 20px;
    margin-bottom: 50px;
    color: #333;
    font-size: 20px;
    text-align: center;
}

.quality h1, .prices h1 {
    margin-top: 0px;
}

.icon1, .icon2 {
    display: flex;
}

.icon1 img, .icon2 img {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
}

.quality h1, .prices h1 {
    text-align: center;
}


/*conatacts*/

.contacts {
    min-height: 300px;
    height: auto;
    text-align: center;
    color: #ebebeb;
    display: flex;
}

.contacts div {
    margin: auto;
}

.contacts i {
    margin: auto;
    width: 45px;
    height: 45px;
    font-size: 1.9em;
    border: 2px #ebebeb solid;
    border-radius: 6px;
}

.contacts span {
    display: block;
    font-size: 1.2em;
    margin-top: 10px;
}


/*feedback form*/

.feedBackForm {
    height: auto;
}

.flex-outer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.flex-outer li {
    list-style-type: none;
    margin-bottom: 20px;
}

#fio:hover, #email:hover, #tel:hover, #massage:hover {
    border: 2px solid #40aee6;
}

#fio, #email, #tel {
    height: 50px;
    width: 100%;
    outline: none;
    border: 2px solid #1b93d0;
    border-radius: 4px;
    padding-left: 10px;
}

#massage {
    margin-top: 20px;
    min-width: 100%;
    max-width: 100%;
    min-height: 190px;
    max-height: 340px;
    outline: none;
    border: 2px solid #1b93d0;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
}

#massage-btn {
    margin-top: 20px;
    background-color: #1b93d0;
    color: #fff;
    float: right;
    border: 2px solid #1b93d0;
    border-radius: 4px;
    padding: 10px 30px;
    margin-bottom: 50px;
}

#massage-btn:hover {
    background-color: #1679ac;
    border: 2px solid #1679ac;
}


/*footer*/

.copyright {
    margin: 25px 0;
    color: #d6d6d6;
    font-size: 13px;
}

.author a {
    color: #d6d6d6;
}

.author {
    margin: 25px 0;
    float: right;
    font-size: 13px;
}

.author a:hover {
    color: #afafaf;
}


/*contacts page*/

.contacts-page {
    height: 450px;
    background: linear-gradient(to top, #DBDBDB, #fbfbfb);
    display: flex;
}

.contacts-page-info {
    margin: auto;
    padding-left: 28px;
}

.contacts-page-info i {
    height: 20px;
    width: 20px;
    font-size: 22px;
    padding-top: 5px;
}

.contacts-page-info span {
    padding-left: 20px;
}
